/*ヘッダーここから*/
.header{
  display: flex;
  height: 70px;
  width: 100%;
  background-color: #1dace0;
  color: #fff;
}

.header h1{
  margin: auto 30px;
  font-size: 24px;
}

.header ul{
  display: flex;
  align-items: center;
}

.header li{
  margin-right: 20px;
}

.header li:last-child{
  margin-right: 0;
}

/*トップスライド画像セクション*/
.top-slide{
  height: 600px;
  width: 100%;
}

.top-img img{
  height: 500px;
  width: 100%;
  object-fit: cover;
}

/*動画一覧セクション*/
.videos{
  margin-top: 30px;
}

/*フッター*/
.footer{
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: #1dace0;

}

.footer p{
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.footer .left,
.footer .right{
  margin: auto 30px;
}

/*ヘルプページ*/
.contact{
  margin: 50px auto;
  width: 500px;
}

.form{
  margin-bottom: 30px;
}

.form label{
  display: inline-block;
  text-align: left;
  width: 140px;
  font-size: 18px;
}

.form input,
.form .category,
.form textarea{
  font-size: 18px;
  width: 350px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #999;
}

.form textarea{
  vertical-align: top;
  height: 300px;
}

.contact .button{
  text-align: right;
}

button{
  padding: 5px 30px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #999;
  cursor: pointer;
}



















