/*ヘッダーここから*/
.header{
  display: flex;
  height: 70px;
  width: 100%;
  background-color: #1dace0;
  color: #fff;
}

.header h2{
  margin: auto 30px;
}

.header ul{
  display: flex;
  align-items: center;
}

.header li{
  margin-right: 20px;
}

.header li:last-child{
  margin-right: 0;
}

/*メインコンテンツ*/
.contents{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*トップスライド画像セクション*/
.top-slide{
  height: 600px;
  width: 100%;
}

.top-img img{
  height: 500px;
  width: 100%;
  object-fit: cover;
}

/*動画一覧セクション*/
.videos{
  margin-top: 30px;
}


/*フッター*/
.footer{
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: #1dace0;

}

.footer p{
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.footer .left,
.footer .right{
  margin: auto 30px;
}




